<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static "CSSFiles/style.css" %}">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <title>MeLoDyMiX</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="{%static 'Images/Logo.png'%}"
            alt="MeLoDyMiX"
            width="30"
            height="24"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'htmlwebsite:about'%}">About</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Explore
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="#"
                    >New Releases</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#
                    >Podcasts</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Albums</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >More...</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'htmlwebsite:contact'%}"
                >Contact</a
              >
            </li>
          </ul>
          <form class="col-12 col-lg-auto mt-2 mb-3 mb-lg-0 me-lg-3" method="GET"  action="{% url 'htmlwebsite:search' %}" role="search"> {% csrf_token %}
            <input
              type="search"
              class="form-control form-control-dark text-bg-dark"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>

          <div class="text-end">
            <a style="text-decoration:none;" href="{% url 'htmlwebsite:login' %}">
              <button type="button"  class="btn btn-outline-light me-2">
                Login
              </button>
            </a>
          </div>
          <div >
            {% if user.is_authenticated %}
            <p class="btn btn-outline-primary m-auto" >
                Hi, {{request.user}}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% block body %} {% endblock body %}
  <br>
    <hr>
    
    <!-- FOOTER -->
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <img src="{% static "Images/Logo.png" %}" width="50" height="45"
          class='bg-dark' >
          <div class="">MelodyMix</div>

          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="link-secondary text-decoration-none" href="#"
                >Artists</a
              >
            </li>
            <li>
              <a class="link-secondary text-decoration-none" href="#"
                >Latest & Trending Songs</a
              >
            </li>
            <li>
              <a class="link-secondary text-decoration-none" href="#"
                >New Releases</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Get to Know Us</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="link-secondary text-decoration-none" href="#"
                >Privacy</a
              >
            </li>
            <li>
              <a class="link-secondary text-decoration-none" href="#"
                >Terms of Services</a
              >
            </li>
            <li>
              <a class="link-secondary text-decoration-none" href="#">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Social Media</h5>
          <ul class="list-unstyled text-small">
            <li>
              <i class="fa-brands fa-square-x-twitter"></i>
              <a class="link-secondary text-decoration-none" href="#"
                >Twitter</a
              >
            </li>
            <li>
              <i class="fa-brands fa-square-instagram"></i>
              <a class="link-secondary text-decoration-none" href="#"
                >Instagram</a
              >
            </li>
            <li>
              <i class="fa-brands fa-square-facebook"></i>
              <a class="link-secondary text-decoration-none" href="#"
                >Facebook</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
